.footer {
    background-color: var(--color-footer-grey);
}

.footer__container {
    padding-top: 0;
}
.footer__content {
    flex-direction: row;
    height: 300px;
    padding-top: 30px;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer__list {
    color: var(--color-txt-white);
    font-size: 18px;
}

.footer__item {
}
.footer__item:not(:last-child) {
    margin-bottom: 1em;
}

.footer__link {
    transition-property: color, text-decoration, transform;
    transition-duration: 0.2s ;
    transition-timing-function: ease;
}
.footer__link:focus {
    transform: scale(1.02);
    text-decoration: underline;
}
.footer__link:hover,
.footer__link:active {
    transform: scale(1.05);
    text-decoration: underline;
    color: var(--color-white);
}