/* .main {
} */

/* MAIN SECTION */

.main {
    padding-top: var(--header-height);
    background-color: var(--color-white);
    min-height: 100vh;

}
.main__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 100%;
    height: 100%;
    padding: 0 var(--container-padding);

}
.main__content {
    position: relative;
    width: 48%;
}

.main__heading {
    margin-bottom: 60px;
    white-space: nowrap;
}
.main__text {
    margin-bottom: 35px;
    color: var(--color-txt);
}

.main__text_error {
    color: var(--color-peach-darker);
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: calc(0.6 * var(--text-font-size));
}

.main__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 80%;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-white);
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.16));
}

/* .main__label {
} */

.main__background_stripe {
    position: absolute;

    width: 200vw;
    height: 400px;
    inset: 0;
    transform: translateX(-50%);

    background-color: var(--color-turquoise);
    background: var(--color-turquoise);
    background: linear-gradient(90deg, var(--color-turquoise) 85%, var(--color-white) 100%);
}
.main__background_image {
    position: absolute;

    width: calc(100% - 1 * var(--container-padding));
    height: 80%;
    top: 50%;
    left: 0;
    transform: translate(-105%, -40%);

    background-image: url("../img/main-image.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1440px) {
    .main__heading {
        margin-bottom: 40px;
    }

    .main__form {
        max-width: 400px;
    }

    .main__background_stripe {
        height: 320px;
    }
}

@media screen and (max-width: 1024px) {
    .main__container {
        align-items: center;
    }

    .main__content {
        padding-top: 40px;
        width: 100%;
        align-items: center;
    }

    .main__background_stripe {
        height: 460px;
        background: linear-gradient(180deg, var(--color-turquoise) 60%, var(--color-white) 100%)
    }

    .main__background_image {
        position: static;
        min-height: 35vw;
        margin-bottom: 30px;
        width: 100%;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 768px) {
    .main__background_image {
        min-height: 270px;
    }
}

@media screen and (max-width: 576px) {
    .main__content {
        padding-top: 20px;
    }

    .main__heading {
        white-space: normal;
    }

    .main__text {
        margin-left: 8%;
        align-self: flex-start;
        max-width: 310px;
    }

    .main__form {
        width: 80%;
        max-width: 350px;
    }

    .main__background_stripe {
        height: 360px;
    }
    .coming_soon {
        display: block;
    }
}

